@{
    Layout = "_Guest_Layout";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
      
    axios.post('/api/message/', {
        name : '',
        email : '',
        title : '',
        body : ''
    }).then(resp => {
        console.log(resp)
    })
    
    
    </script>
}
